<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>ITEAS IT Service GmbH</vendor>
  <vendor_url>http://i-edu.at/</vendor_url>
  <icon_name>iedu_manage</icon_name>

  <action id="at.iteas.pkexec.iedumanagegui">
    <message>Authentication is required to run i-EDU Manager</message>
    <icon_name>iedu_manage</icon_name>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/iedu_manage_gui.py</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
