Source: iedu-common
Section: admin
Priority: optional
Maintainer: Rene Hadler <rene.hadler@iteas.at>
Build-Depends: debhelper (>= 8.0.0)

Package: iedu-common
Architecture: all
Depends: python3-paramiko, python3-pyqt5, python3-netaddr
Provides: iedu-common
Description: Installation of
 specific files for the installation of i-EDU Common.